snippet kruskals "Kruskals algorithm for MST" b

// import union_find

void kruskals(int n, int m, vt<pair<ll, pii>> &edges, vt<pair<ll, pii>> &mst) {

	sort(all(edges));

	union_find<vector<int>> disjoint(n);

	EACH(e, edges) {
		int u = e.S.F, v = e.S.S;

		int u_parent = disjoint.find(u);
		int v_parent = disjoint.find(v);

		if (u_parent != v_parent) {
			mst.pb(e);
			disjoint.join(u, v);
		}
	}
}
endsnippet
